body,
h1,
h2,
h3,
h4,
h5,
a,
p {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
    font-weight: normal;
}

p,
a {
    color: #333;
}

body{
    position: relative;
}

.btn {
    display: block;
    width: 260px;
    height: 30px;
    line-height: 30px;
    background: #BC7C77;
    color: #f3f3f3;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 48px;
    cursor: pointer;
}

.btn img {
    height: 18px;
    margin-left: 4px;
}
.btn:hover{
    background: #b16d69;
}
.hero {
    position: relative;
    height: 95vh;
    width: 100%;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.hero .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.hero h1 {
    text-align: center;
}

.hero .animation {
    text-align: center;
    font-size: 50px;
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.hero .first {
    display: inline-block;
    animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    color: #333;
    z-index: 1;
    position: relative;
}

.hero .block {
    display: inline-flex;
    overflow: hidden;
}

.hero .second {
    animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    color: #333;
    font-weight: 100;
    z-index: -1;
    display: inline-block;
}

.hero p {
    font-size: 1.4rem;
    line-height: 2;
    margin: 0 auto;
    margin-top: 48px;
    width: 60%;
}

@media (max-width: 768px) {
    .hero .animation {
        font-size: 36px;
    }

    .hero p {
        font-size: 1.1rem;
        width: 90%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes firstSpan {
    0% {
        transform: translateX(50%);
    }

    60% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes secondSpan {
    0% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-0%);
    }
}

.scrolldown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    padding-top: 25px;
    text-align: center;
    bottom: 20px;
    z-index: 2;
}

.scroll-down::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -2px;
    width: 1px;
    height: 42px;
    background: #836464;
    animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    -ms-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    -moz-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    -webkit-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
    -o-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
}

.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}

.arrow-down:after {
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    bottom: 18px;
    background: #836464;
    border-radius: 50%;
}

.scroll-title {
    font-size: 14px;
    color: #836464;
    margin-top: 10px;
}

@keyframes elasticus {
    0% {
        transform-origin: 0% 0%;
        transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        -o-transform: scale(1, 0);
    }

    50% {
        transform-origin: 0% 0%;
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }

    50.1% {
        transform-origin: 0% 100%;
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }

    100% {
        transform-origin: 0% 100%;
        transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        -o-transform: scale(1, 0);
    }
}

.about {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.about-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.about-content {
    width: 60%;
    text-align: center;
    padding: 64px;
    padding-left: 32px;
}

.about-content h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: normal;
}

.about-content p {
    font-size: 1.1rem;
    line-height: 4;
}

.about-img {
    width: 40%;
    height: 420px;
    margin-left: 88px;
    overflow: hidden;
    border-radius: 32px;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .about-container {
        flex-flow: wrap;
    }

    .about-content h2 {
        font-size: 28px;
    }

    .about-content {
        width: 100%;
        order: 0;
        padding: 0 20px;
        margin-top: 32px;
    }

    .about-content p {
        font-size: 1rem;
        line-height: 2.5;
    }

    .about-img {
        width: 100%;
        height: 250px;
        margin: 32px;
        margin-top: -8px;
        order: 1;
    }
}

.experience {
    max-width: 80%;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 48px 0px;
    margin: 0 auto;
    margin-bottom: 64px;
    align-items: center;
    background: #f3f1f1;
    border-radius: 16px;
    text-align: center;
}

.experience-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.experience-title {
    width: 25%;
    /* text-align: center; */
}

.experience-title h2 {
    font-size: 26px;
    font-weight: normal;
}

.experience-content {
    width: 75%;
    text-align: center;
    border-left: 1px solid #90817D;
    padding: 0 48px;
}

.experience-items {
    font-size: 18px;
    text-align: left;
}

.experience-items ul li {
    font-size: 16px;
    line-height: 1.3;
    margin-top: 12px;
}

.experience-items ul li a {
    color: #7f4949;
}

.experience-items>div {
    margin-bottom: 44px;
}

.experience-items>div>p:nth-child(1) {
    font-weight: 500;
}

.experience-items>div>p:nth-child(2) {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.experience-items>div:last-child {
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    .experience {
        max-width: 90%;
    }

    .experience-container {
        flex-flow: wrap;
    }

    .experience-title {
        width: 100%;
    }

    .experience-title h2 {
        margin-bottom: 24px;
    }

    .experience-content {
        width: 100%;
        border-left: none;
        padding: 0 36px;
    }
}

.skills {
    padding: 40px 0px;
    text-align: center;
}

.skills-content {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 56px;
    display: flex;
    justify-content: space-around;
}

.skills-item {
    width: 30%;
    text-align: center;
    padding: 32px 18px;
    margin: 0 16px;
}

.skills-item img {
    width: 100px;
    height: 100px;
}

.skills-item p {
    margin-top: 32px;
    font-weight: 600;
}

.skills-item ul li {
    text-align: left;
    margin-top: 12px;
}

@media (max-width: 768px) {
    .skills {
        padding: 20px 0px;
    }

    .skills-content {
        flex-flow: wrap;
        margin-top: 32px;
    }

    .skills h2 {
        font-size: 28px;
    }

    .skills-item {
        width: 100%;
    }

    .skills-item ul {
        text-align: center;
    }
}

.title-block {
    display: flex;
    justify-content: space-between;
    width: 55%;
    background: #90817D;
    border-radius: 0 10px 0 0;
    margin-top: 32px;
    padding-left: 32px;
    padding: 24px;
}

.title-block h2 {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
}

.title-block p {
    display: flex;
    font-size: 18px;
    line-height: 40px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 768px) {
    .title-block {
        width: 80%;
        align-items: center;

    }

    .title-block h2 {
        font-size: 28px;
    }

    .title-block p {
        margin-left: 32px;
    }

    .title-block .btn {
        line-height: 28px;
    }
}

.works {
    background: #f3f1f1;
    color: white;
    padding: 64px 20px;
    text-align: center;
}

.works h2 {
    margin-bottom: 20px;
}

.works-tabs {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 28px;
    margin-bottom: 64px;
}

.works-tab {
    height: 40px;
    width: 160px;
    display: block;
    padding: 0px 4px;
    background: transparent;
    color: #9e9e9e;
    border: none;
    font-weight: 500;
    border: 1px solid #9e9e9e;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

.works-tab.active {
    color: #7f4949;
    border: 1px solid #7f4949;
    font-weight: 600;
}

.works-container {
    display: flex;
    flex-wrap: wrap;
    gap: 36px 0px;
    justify-content: space-around;
}

.work-item {
    width: 32%;
    text-align: center;
}

.work-item-img {
    position: relative;
    display: block;
    width: 100%;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.work-item-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* 50% transparent black */
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.overlay-text {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.work-item-img:hover .overlay {
    opacity: 1;
}

.work-item-txt {
    text-align: left;
}

.work-item-txt p {
    line-height: 1.5;
    margin: 12px 0;
    color: #333;
}

.work-item-txt .hashtag {
    font-size: 0.8rem;
    display: flex;
}

.work-item-txt .hashtag p {
    padding: 0 8px;
    margin: 0px;
    margin-right: 12px;
    background: #c0b4b4;
    color: rgb(255, 255, 255);
    border-radius: 12px;
}

.work-item-txt .title {
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .work-item {
        width: 100%;
    }

    .work-item-img {
        height: 280px;
    }
}


.contact {
    background: #90817D;
    ;
    padding: 64px 20px;
    text-align: center;
}

.contact h2 {
    color: white;
    margin-bottom: 32px;
}

.contact p,
.contact a {
    color: white;
    margin: 12px 0;
    font-size: 1.2rem;
}

.contact a:hover {
    color: #d88e89;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #ffffffbe;
    border: 2px solid #BC7C77;
    border-radius: 50%;
    z-index: 1000;
}
.scroll-to-top::before {
    position:absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-right: 2px solid #BC7C77;
    border-top: 2px solid #BC7C77;
    border-radius: 2px;
    transform: rotate(-45deg);
    margin-top: 20px;
    margin-left: 15px;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .scroll-to-top {
        width: 40px;
        height: 40px;
    }
    .scroll-to-top::before {
        width: 16px;
        height: 16px;
        margin-top: 16px;
        margin-left: 12px;
        box-sizing: border-box;
    }
}
@keyframes scrolltotop {
    0% {
        transform: rotate(-45deg) translate(-25px, 25px);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: rotate(-45deg) translate(0px, 0px);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

footer {
    background-color: #90817D;
}

footer p {
    display: block;
    margin: 0 36px;
    border-top: 1px solid rgb(172, 158, 158);
    color: white;
    padding: 20px 20px;
    font-size: .7rem;
    text-align: center;
}



/* customized slick*/
.slick-slide {
    margin-left: 24px;
    margin-right: 24px;
}

.slick-list {
    margin-left: -24px;
    margin-right: -24px;
    pointer-events: none;
}

.slick-dots {
    bottom: -60px !important;
}
